html,
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  border-radius: 4px;
}
.wrapper {
  max-width: 420px;
  min-height: 96vh;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 1fr);
}

button {
  font-size: 2rem;
  border: 1px solid #353333;
  cursor: pointer;
}
.modifiers button {
  background-color: #474444;
}
.operations button {
  background-color: orange;
  width: 100px;
}
.digits button {
  background-color: #817f7f;
}

/* All things Grid, Flexbox, Box Alignment */
.wrapper,
.subgrid {
  display: grid;
}
.wrapper {
  grid-template-areas:
    "total total total total"
    "modif modif modif oper"
    "digit digit digit oper"
    "digit digit digit oper"
    "digit digit digit oper"
    "digit digit digit oper";
  grid-auto-columns: 1fr;
}
.show-input {
  grid-area: total;
  background-color: #333;
  text-align: right;
  font-size: 4rem;
}
.modifiers {
  grid-area: modif;
}
.operations {
  grid-area: oper;
}
.digits {
  grid-area: digit;
}

.show-input {
  position: relative;
  outline: none;
  border: none;
  width: 385px;
  height: 100px;
  font-size: 2.5rem;
  font-weight: 100;
  padding: 2px 15px;
  text-align: left;
  color: white;
  background: #313031;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.modifiers {
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
}

.digits {
  display: flex;
  flex-wrap: wrap;
}
.digits button {
  flex: 1 0 26%;
}
